$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#escience-logo  {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

td.number {
  text-align: right;
}

ul[dnd-list] li {
    display: block;
}

ul[dnd-list] .dndDragging {
    opacity: 0.7;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}
li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.angular-openlayers-map {
  width: 100%;
  height: 100vh;
}

#map-overlay-info {
    background-color: #fff;
    border: 2px #444 solid;
    border-radius: 7px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: #111;
    font-size: 20px;
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 100;
    font-weight: bold;
    padding: .2em .5em;
    white-space: nowrap;
    line-height: 1.1em;
    text-align: center;
    z-index: 100;
}

#map-overlay-info:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    border-right: 6px solid black;
    border-right-color: inherit;
    position: absolute;
    left: -8px;
    bottom: 20px;
}

.layer-controls {
  padding-top: 5px;
  padding-bottom: 5px;
}

.terrain-dropdown {
  margin-left: auto;
  margin-right: auto;
}

.ol-attribution ul {
  font-size: 1.0rem !important;
}

.noselect {
    user-select: none;
}

#overview-panel {
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 500;
}

.ol-zoom {
  left: 300px !important;
}

#alertbox {
  position: absolute;
  top: 10px;
  left: 360px;
  min-width: 100px;
  width: 30%;
  max-width: 500px;
  z-index: 1000;
}

#alertbox .alert {
  margin-bottom: 5px !important;
}

#alertbox .collapsing {
  padding-bottom: 0px !important;
}

#simulation-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 500;
}

#layers-body {
  padding: 10px;
}

.startjob {
  padding-bottom: 6px;
}

.btn-startjob {
  margin-left: 100px;
}

.change {
    background-color: red;
}
.change-add,.change-remove {
  background-color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-add-active {
  background-color: red;
}
.change-remove {
    background-color: red;
}
.change-remove-active {
  background-color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
