<form class="form-horizontal" ng-show="vm.parameters">
  <fieldset>
    <!-- <legend>Simulation parameters</legend> -->
    <div ng-repeat="param in vm.parameters track by param.name">
      <div class="form-group">
        <label class="control-label col-sm-4" for="param-{{param.name}}" ng-bind="param.title || param.name"></label>
        <div class="col-sm-8">
          <div ng-switch="param.type">
            <!-- Interval -->
            <input ng-switch-when="interval"  type="number" min="{{param.min}}" max="{{param.max}}" ng-model="vm.input[param.name]" id="param-{{param.name}}" class="form-control">
            <input ng-switch-when="number"  type="number" min="{{param.min}}" max="{{param.max}}" ng-model="vm.input[param.name]" id="param-{{param.name}}" class="form-control">
            <!-- Choice -->
            <select ng-switch-when="choice" ng-options="choice for choice in param.choices" ng-model="vm.input[param.name]" id="param-{{param.name}}" class="form-control"></select>
            <!-- String -->
            <input ng-switch-when="str" type="text" ng-model="vm.input[param.name]" id="param-{{param.name}}" class="form-control"></select>
            <input ng-switch-when="string" type="text" ng-model="vm.input[param.name]" id="param-{{param.name}}" class="form-control"></select>
            <!-- List -->
            <div ng-switch-when="list" ng-switch="param.contents.type">
              <div ng-switch-when="point2d">
                <button class="btn" ng-show="vm.editing !== param.name" ng-click="vm.activatePoint2DLayer(param.name, $index)">Edit</button>
                <button class="btn btn-primary" ng-show="vm.editing === param.name" ng-click="vm.deactivatePoint2DLayer()">Done</button>
                <button class="btn" ng-click="vm.resetPoint2DLayer(param.name)" ng-disabled="!vm.layerPoints.hasOwnProperty(param.name)">Reset</button>
                <select ng-options="layer as layer.title for layer in vm.layerService.activeLayers | filter:{contentType:'Vector'} track by layer.id" ng-model="vm.copyLayerPoints[param.name]" class="form-control"></select>
                <button class="btn" ng-click="vm.copyPoint2DLayer(param.name, $index)" ng-disabled="!vm.copyLayerPoints[param.name]">Copy from layer</button>
                <p>Points selected: {{vm.pointsSelected(param.name)}}</p>
              </div>
              <p ng-switch-default class="danger">{{param.contents.type}} list input type not supported</p>
            </div>
            <p ng-switch-default class="danger">{{param.type}} input type not supported</p>
          </div>
          <p class="help-block" ng-bind-template="{{param.description}}"></p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="submit btn btn-primary" ng-click="vm.startSimulation()">
          Start simulation
          <span ng-switch="vm.submitstatus">
            <span class="glyphicon glyphicon-ok" ng-switch-when="success"></span>
            <img src="images/ajax-loader.gif" ng-switch-when="loading" ng-cloak>
          </span>
        </button>
      </div>
    </div>
  </fieldset>
</form>
