<table class="table table-condensed">
  <tr ng-show="vm.status">
    <th ng-bind="vm.status"></th>
  <tr>
  <tr ng-hide="vm.status">
    <th>name</th>
    <th>commute percentage</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr ng-hide="vm.status" ng-repeat="task in vm.tasks track by task.id | orderBy : task.input.commute-percentage">
    <td ng-bind="task.input['name']"></td>
    <td ng-bind="task.input['commute-percentage']"></td>
    <td ng-switch="task.done">
      <span ng-switch-when="-1" title="simulation error" class="glyphicon glyphicon-warning-sign"></span>
      <span ng-switch-when="0" title="no output" class="glyphicon glyphicon-eye-close"></span>
      <span ng-switch-default>
        <a href="#visualizeTraffic" ng-click="vm.visualizeTraffic(task)" title="Show traffic">
          <span class="glyphicon glyphicon-road"></span></a>
      <span>
    </td>
    <td><a ng-if="task.done > 0" href="#visualizeFire" ng-click="vm.visualizeFire(task)" title="Show fire response"><span class="glyphicon glyphicon-fire"></span></a></td>
    <td><a href="#" ng-click="vm.viewTask(task)" title="Show data"><span class="glyphicon glyphicon-save-file"></span></a></td></td>
    <td><a href="#" ng-click="vm.modalRemove(task)" class="text-danger" title="Remove simulation" data-target="#removeSimulationModal" data-toggle="modal"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
  </tr>
</table>

<div id="removeSimulationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remove simulation</h4>
      </div>
      <div class="modal-body">
        <p ng-bind-template="Are you sure you want to remove simulation '{{vm.toRemove.input['name']}}' (with id '{{vm.toRemove.id}}' and commute percentage {{vm.toRemove.input['commute-percentage']}})?"></p>
        <p ng-show="vm.removeError" ng-bind="vm.removeError" class="text-danger"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" ng-disabled="vm.removeError" ng-click="vm.remove()">Remove simulation</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
